<!DOCTYPE HTML>
<HTML>
   <HEAD>
      <TITLE>DCConocidos</TITLE>
   </HEAD>
   <BODY>
       {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
       {% endif %}
      <form action="{% url 'user_manager:login' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>Log In</h1></legend>

            <label for="username"> Usuario: </label>
            <input type="text" name="username">
            
            <label for="password"> Contraseña: </label>
            <input type="password" name="password">

        </fieldset>
        <input type="submit" value="Send">
    </form>
   </BODY>
</HTML>